#login{
  margin: 0;
  padding: 0;
  font-family: "Arial","Microsoft YaHei","黑體","宋體",sans-serif;
  
}

.login-header{
  min-height: 100vh;
  min-width: 100vw;
  background: #d4d2d5;
  display: flex;
  align-items: center;
  justify-content: center;
}

#login-form,
#login-info{
  text-align: center;
  margin: 80px 0;
}

// #login-form h2{
//   display: inline-block;
//   font-size: 25px;
//   text-transform: capitalize;
//   color: #191919;
// }

#login-form .input-field{
  display: flex;
  justify-content: center;
  margin: 20px auto 30px auto;
  // font-size: 30px;
}

#login-form .fa{
  font-size: 20px;
  margin-right: 20px;
  align-self: center;
  color: #456990;
}

#login-form input{
  font-size: 20px;
  background: transparent;
  border: none;
  border-bottom: 3px solid $primary;//#c97c5d;
  width: 180px !important;
}

#login-form textarea{
  font-size: 20px;
  background: transparent;
  border: 1px solid $primary;//#c97c5d;
  border-color: $primary;//#c97c5d;
  width: 180px !important;
}

#login-form .input-error::placeholder{
  color: red !important;
}

#login-form input::placeholder{
  color: $primary;//#c97c5d;
}

#login-form button{
  display: inline-block;
  font-size: 17px;
  
  
  color: #191919;
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

.login-submit{
  background: $primary;//#c97c5d;
}

.login-type{

  padding: 5px;
  border: 1px solid $primary;
  background: #78c3e0;
  // padding: 5px 5px;
  margin-right: 5px;
}

#login-info{
  color: #191919;
}

#login-info img{
  border-radius: 50%;
  width: 100px;
}

#login-form img{
  border-radius: 50%;
  width: 100px;
}

#login-info h3{
  margin: 20px 0;
}

#login-info p{
  line-height: 1.8;
  width: 50%;
  margin: 0 auto;
}


@media screen and (min-width: 992px){
  #login{
    display: flex;
    justify-content: space-between;
    width: 50%;
    min-height: 70vh;
    // background: #aa968a;
    background: #EEE;
    border-radius: 20px;
  }

  #login-info,
  #login-form{
    flex: 0 0 calc(50% - 1em);
    // margin: 40px 0;
  }

  #login-form{
    align-self: flex-start;
  }

  #login-info{
    // align-self: center;
    border-left: 6px solid $primary;//#c97c5d;
  }

  #login-info p{
    width: 70%;
  }


  




}










